#AppHome {
    background: url("./../Asset/img/MobileApp/backapp.jpg");
    background-size: contain;
    .AppmaxWith {
        max-width: 94rem;
        margin: 0 auto;
        .left {
            padding-top: 6rem;
            .textLeft {
                @include styleText(3.4rem,$text-on-base-color,$fw-bold-3);
            }
            .textSmallLeft {
                @include styleText($fs-4,$text-on-base-color,$fw-bold-2);
            }
            .buttonLeft {
                background-color: #fb4226;
                padding: 10px 20px;
                color: #fff;
                font-size: medium;
                font-weight: 700;
                border: none;
                border-radius: 0.4rem;
            }
            .textAppUnder {
                @include styleText($fs-3,$text-on-base-color,$fw-bold-2);
                padding-top: 1rem;
                .taga {
                    color: #fff;
                    border-bottom: 1px solid #fff;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
        .right {
            padding: 0;       
            .phone-img {
                padding: 0 28%;
                position: relative;
            }
            .img-responsive {
                display: block;
                max-width: 100%;
                height: auto;
            }
            .App__img {
                position: absolute;
                padding: 1.5% 29.3% 0 29.3%;
                top: 0;
                left: 0;
                width: 100%;
                .mobileApp__carousel{
                    .slick-list{
                        border-radius: 2.5rem;
                    }
                }
            }
        }
    }
}

// Responsive for screen > 320px and < 480px
@include responsive ('extra-small'){
    #AppHome {
        padding: 1rem 0 8rem 0;
        .AppmaxWith{
            .left{
                text-align: center;
                .textLeft{
                    font-size: $fs-6;
                }
                .textSmallLeft{
                    font-size: $fs-2;
                }
            }
            .right{
                .App__img{
                    .mobileApp__carousel{
                        .slick-list{
                            border-radius: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}

// Responsive for screen > 480px and < 576px
@include responsive ('very-small'){
    #AppHome{
        .AppmaxWith{
            .left{
                .textLeft{
                    font-size: $fs-6;
                }
                .textSmallLeft{
                    font-size: $fs-3;
                }
            }
            .right{
                .App__img{
                    .mobileApp__carousel{
                        .slick-list{
                            border-radius: 2.1rem;
                        }
                    }
                }
            }
        }
    }
}

// Responsive for screen < 576px and > 240px
@include responsive ('small'){
    #AppHome{
        .AppmaxWith{
            .left{
                .textSmallLeft{
                    padding: 0 1rem;
                }
            }
        }
    }
}

// Responsive for screen > 768px and < 992px 
@include responsive ('medium'){
    #AppHome{
        .AppmaxWith{
            .right{
                .App__img{
                    .mobileApp__carousel{
                        .slick-list{
                            border-radius: 3.5rem;
                        }
                    }
                }
            }
        }
    }
}

// Responsive for screen > 992px and < 1200px 
@include responsive ('large'){
    #AppHome {
        .AppmaxWith{
            .left{
                .textLeft{
                    font-size: 3rem;
                }
            }
            .right{
                .App__img{
                    .mobileApp__carousel{
                        .slick-list{
                            border-radius: 2.5rem;
                        }
                    }
                }
            }
        }
    }
}

// Responsive for screen > 1200px and < 1400px 
@include responsive ('extra-large'){
    #AppHome {
        padding: 12rem 0 8rem 0;
        .AppmaxWith{
            .left{
                text-align: left;
                .textLeft{
                    font-size: 3.4rem;
                }
                .textSmallLeft{
                    font-size: $fs-4;
                    padding: 0;
                }
            }
        }
    }
}