.movieShowControl{
    width: 80%;
    padding: 1rem;
    position: absolute;
    background: linear-gradient(-45deg,rgb(246,51,157),rgb(51,215,254));
    right: 0;
    top: 6rem;
    height: 100%;
    z-index: 2;
}